body{
    position: relative;
    height: auto;
}
.top{
    position:relative;
    display: inline-block;
    width: 100%;
    height:140px;
    background-image: url(../image/top.png);
}
#icon{
    display: inline-block;
    position: relative;
    left:5%;
    bottom: 10px;
}
.title{
    position: relative;
    display: inline-block;
    width: 80%;
    height:100%;
}
#title{
    position: relative;
    display: inline-block;
    left:35%;
    top:10%;
    font-size: 36pt;
    font-family: STKaiti;
}
.user{
    position: relative;
    display:inline-block;
    font-size:10pt;
    font-family: Microsoft YaHei;
    left:10pt;
}
#log_reg,#greet_out{
    position: relative;
    display: inline-block;
}
.user_info{
    position:relative;
    display: inline;
    font-size: 14pt;
    font-family: Microsoft YaHei;
}
.separator{
    position: relative;
    display:inline;
    font-size: 28pt;
    font-family: Microsoft YaHei;
}
section{
    position:relative;
    display: inline-block;
    width:100%;
    height:auto;
}
.create-field{
    position: relative;
    display: inline-block;
    width:100%;
    height:100pt;
}
#create{
    position: relative;
    display: inline-block;
    top:30%;
    left:40%;
    width:15%;
    font-family: Microsoft YaHei;
    font-size: 18pt;
}
#field_list{
    position: relative;
    margin-top: 0;
    left:10%;
    width:80%;
    height:auto;
}

#field_list a{
    color: #444444;
}

#field_list th,td{
    position: relative;
    width:16.7%;
}

.field_table{
    position:relative;
    left:5%;
    width: 90%;
    font-size: 0pt;
}
.item{
    position:relative;
    display: inline-table;
    width:16%;
    font-size: 14pt;
    font-family: Microsoft YaHei;
    border:1px solid #696969;
}
#field{
    display: inline-block;
    position: relative;
    width:60%;
    margin:0 auto;
    height:auto;
}
.sub_title{
    position:relative;
    display:inline-block;
    text-align: center;
    width: 20%;
    left:40%;
    font-size:28pt;
}
.field_title{
    position:relative;
    margin:0 auto;
    font-size:16pt;
    font-family:"Microsoft YaHei";
}

.add_field{
    width:100%;
    position:relative;
    display:inline-block;
    font-family:"Microsoft YaHei";
}
.field_name,#seed_name1{
    position:relative;
    display:inline-block;
    width:100px;
    font-size:14pt;
    font-family:"Microsoft YaHei";
}

#field_seed{
    position:relative;
    display:inline-block;
    width:100%
}
#concept{
    width: 60%;
    margin-top:50px;
    margin-left:20%;
}

#sub_btn{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}
.uk-button-small{
    margin-top: 20px;
}
.notice{
    position:relative;
    display: inline-block;
    left:20%;
    width:60%;
    text-align: center;
    border-style: dashed;
}
#upload{
    position:relative;
    display: inline-block;
    margin-top: 20px;
    left:20%;
    width:60%;
    font-size:20px;
    text-align: center;
}

table
{
    position: relative;
    left: 10%;
    margin-top: 50px;
    margin-bottom: 10%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:80%;
    border-collapse:collapse;
}

tr{
    width:100%;
}

#corpus_table td, th
{
    font-size:1em;
    width:33%;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

#task_table{
    position: relative;
    margin-top: 50px;
    left: 10%;
    width: 80%;
}


#task_table th,td{
    font-size:1em;
    position: relative;
    width: 5%;
    border:1px solid #98bf21;
}

#select_corpus td,th{
    font-size:1em;
    width:20%;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color: #1e87f0;
    color:#ffffff;
}

#close-button {
    float: right;
    font-size: 30px;
    color:red;
    background-color: #3399ff;
}

#float_window {
    display: none;
    position:fixed;
    left: 15%;
    top: 30%;
    width: 70%;
    height: 60%;
    overflow: auto;
    background-color: #d8eafc;
}

.select{
    width:10%;
}

.filename{
    width: 45%;
}
.size{
    width: 20%;
}
.time{
    width: 25%;
}

#task-btn1,#task-btn2,#task-btn3{
    font-size: 14pt;
    font-family: "Microsoft YaHei";
}

.condition{
    position: relative;
    display: inline;
}

#result_table th{
    text-align: center;
}

#result_table td{
    height: 50px;
}


.bottom{
    position:fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.order{
    text-align: center;
    position: relative;
    width: 5%;
}


td.point{
    width:10%;
    position: relative;
    text-align: center;
}

.select{
    width: 10%;
    text-align: center;
}

label{
    font-size: 10pt;
}
.uk-card-footer{
    width: 100%;
    height: 10%;
    bottom: 0;
}
.uk-tab{
    width: 50%;
    left: 25%;
    text-align: center;
}

.star{
    color: red;
}

.login{
    width: 400px;
    height: 400px;
}

.register{
    width: 400px;
    height: 450px;
}

input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
}

input[type=checkbox]:after {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 0;
    content: " ";
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    border-radius: 3px;
}

input[type=checkbox]:checked:after {
    content: "✓";
    font-size: 12px;
}



input[type=radio] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
}

input[type=radio]:after {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 0;
    content: " ";
    background-color: #ff0000;
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    border-radius: 50%;
}

input[type=radio]:checked:before {
    content: "✓";
    display: block;
    position: relative;
    top: -2px;
    left: 3px;
    width: 6px;
    height: 6px;
    color: #fff;
    font-weight: 400;
    z-index: 1;
}
