<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="领域词抽取系统">
    <meta name="keywords" content="领域词抽取系统">
    <title>领域词抽取系统</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/uikit.css">

    <script src="/js/uikit.js" type="text/javascript"></script>
    <script src="/js/Logout.js" type="text/javascript"></script>
    <script>
        $(function(){
            $("#create").click(function(){
                $(location).attr("href","model.html");
            });
            $.get("field_info", function (data, status) {
                var i;
                $("#field_list").append($('<tbody></tbody>'));
                for (i in data["field"]) {
                    var field_lib_path;
                    var concept_lib_path;
                    if(data.field[i].isextracted){
                        field_lib_path="fieldlib.html?field="+data.field[i].fieldname;
                    }
                    else field_lib_path="#";
                    if(data.field[i].isexpanded){
                        concept_lib_path="conceptlib.html?field="+data.field[i].fieldname;
                    }
                    else concept_lib_path="#";

                    $("#field_list tbody").append($(
                        '<tr>\n' +
                        '                          <th scope="row"><button type="button" class="btn btn-primary" disabled>'+data.field[i].fieldname+'</button></th>\n' +
                        '                          <td scope="col"><button type="button" class="btn btn-light" style="background-color: #d0d4ed"><a href="model.html?field='+data.field[i].fieldname+'" class="text-decoration-none">领域信息管理</a></button></td>\n' +
                        '                          <td scope="col"><button type="button" class="btn btn-light" style="background-color: #d0d4ed"><a href="corpus.html?field='+data.field[i].fieldname+'">语料管理</a></button></td>\n' +
                        '                          <td scope="col"><button type="button" class="btn btn-light" style="background-color: #d0d4ed"><a href="task.html?field='+data.field[i].fieldname+'">任务管理</a></button></td>\n' +
                        '                          <td scope="col"><button type="button" class="btn btn-light" style="background-color: #d0d4ed"><a href="'+field_lib_path+'">领域词库管理</a></button></td>\n' +
                        '                          <td scope="col"><button type="button" class="btn btn-light" style="background-color: #d0d4ed"><a href="'+concept_lib_path+'">概念词库管理</a></button></td>\n' +
                        '                      </tr>\n'
                    ));
                }
                $("a").addClass("text-decoration-none");
            });
            $("#login").click(function () {
                $(location).attr("href","login.html");
            });
            $("#register").click(function () {
                $(location).attr("href","register.html");
            });


        });

    </script>
</head>
<body>
<div class="uk-card uk-card-default uk-card-large uk-card-body" style="padding: 0">
    <div class="top">
        <div style="display: inline"><img id="icon" src="/image/icon.png"></div>
        <div  id="title" style="display: inline">
            <h1 style="color:white">领域词抽取系统</h1>
        </div>
        <div class="user" style="display: inline">
            <div id="log_reg" th:if="${#lists.isEmpty(iscookies)}">
                <button id="login" type="button" class="btn btn-success">登录</button>
                <p class="separator">|</p>
                <button id="register" type="button" class="btn btn-info">注册</button>
            </div>
            <div id="greet_out" th:unless="${#lists.isEmpty(iscookies)}">
                <button id="greet" type="button" class="btn btn-info" th:text="'你好，'+${user_name}" disabled></button>
                <p class="separator">|</p>
                <button id="logout" type="button" class="btn btn-danger" onclick="logout()">登出 </button>
            </div>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0">
        <li class="breadcrumb-item active" aria-current="page"><a>首页</a></li>
    </ol>
</nav>
    <section id="main">
        <div class="create-field">
            <div style="margin: 0 auto;text-align: center">
                <button id="create" type="button" class="btn btn-primary">构建领域</button></div>
            </div>
        </div>
        <div style="display: block;margin: 0 auto;text-align: center">
            <div class="card" style="padding: 0;position:relative;display: inline-block;width:80%;height:60%;">
                <table id="field_list" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><button type="button" class="btn btn-primary" disabled>领域</button></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
</body>
</html>