<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/uikit.min.css">
    <title>任务管理</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/js/uikit.js" type="text/javascript"></script>
    <script src="/js/Logout.js" type="text/javascript"></script>
    <script type="text/javascript">
        var field_name;
        var task_type=1;

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)
                return  decodeURI(r[2]);
            return null;
        }

        function getTask() {
            $("#task_table td").each(function(){
                $(this).remove();
            });
            $.get("task?field=" + GetQueryString("field"), function (data, status) {
                var i;
                $("#task_table").append($('<tbody></tbody>'))
                for(i in data["tasks"]) {
                    if(data["tasks"][i]["task_name"].charAt(0)=='领') {
                        $("#task_table tbody").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td><button class="task-state" disabled>' + data["tasks"][i]["statu"] + '</button></td>' +
                            '                          <td><a class="btn btn-outline-primary" href="result.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                    else if(data["tasks"][i]["task_name"].charAt(0)=='基'){
                        $("#task_table tbody").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td><button class="task-state" disabled>' + data["tasks"][i]["statu"] + '</button></td>' +
                            '                          <td><a class="btn btn-outline-primary" href="result-baike.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                    else{
                        $("#task_table tbody").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td><button class="task-state" disabled>' + data["tasks"][i]["statu"] + '</button></td>' +
                            '                          <td><a class="btn btn-outline-primary" href="result-entity.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                }
                $("button.task-state").each(function(){
                    if($(this).text()=='正在处理')
                        $(this).addClass('btn btn-primary');
                    else if($(this).text()=='待处理')
                        $(this).addClass('btn btn-warning');
                    else if($(this).text()=='任务失败')
                        $(this).addClass('btn btn-danger');
                    else if($(this).text()=='已完成')
                        $(this).addClass('btn btn-success');
                });
                $("tbody tr").each(function(){
                   //if($($("button.task-state")[$(this).index()]).text()!='已完成')
                     //  $($("td a")[$(this).index()]).remove();
                    if($($(this).children()[3]).text()!='已完成')
                        $($(this).children()[4]).empty();
                });
            });
        }


        function show() {
            $("#float_window").css('display','block');
        }


        function close_window() {
            $("#float_window").css('display','none');
        }

        function close_windowx(){
            $("#float_window_baike").css('display','none');
        }
        //提交语料选择创建任务
        function create_task(e){
            var obj=document.getElementsByName("box");
            var str='';
            if($(e).attr("id")=='sub_btn') {
                task_type=1;
                var i = 0;
                for (i in obj) {
                    if (obj[i].checked) {
                        str += $(obj[i]).parent().next().text() + ",";          //以逗号分隔不同文件名
                    }
                }
            }
            else if($(e).attr("id")=='task-btn2'){
                task_type=2;
                if(window.confirm('请稍等，并选择类别')){
                } else return;
            }
            else{
                task_type=3;
            }
            if(task_type==1 && str==''){
                alert("创建失败，未选择任何语料！");
                return;
            }
            $.ajax(
                {
                    url:"task.html?field="+field_name,//发送的路径
                    data: JSON.stringify({choose:str,task:task_type}),//发送的数据 语料名称 任务类型
                    type:"post",//发送的方式
                    contentType: "application/json;charset=UTF-8",
                    success: function(data) {
                        if(data.msg="success"){
                            console.log(data);
                            if(data.stat==0){
                                $(location).attr("href","login.html");
                            }
                            else if(task_type==2 && data.stat==1){
                                alert("创建失败，请设置种子词或进行领域词抽取！");
                            }
                            else if(task_type==2 && data.stat==2){
                                console.log(data);
                                $("#select_category").empty();
                                $("#select_category").append($('<tbody></tbody>'));
                                var i;
                                for(i in data["seed_type"]){
                                    $("#select_category tbody").append($(
                                        '<tr>\n' +
                                        '                            <td scope="col" class="select"><input type="checkbox" name="box_type" value="'+i+'"/></td>\n'+
                                        '                            <td scope="col" class="filename">'+data["seed_type"][i]["type"]+'</td>\n'+
                                        '                            <td scope="col" class="size">'+data["seed_type"][i]["num"]+'</td>\n'+
                                        '</tr>\n'
                                    ));
                                }
                                $("#float_window_baike").css('display','block');   //show
                                return;
                            }
                            else if(task_type==3 && data.stat==3){
                                alert("没有设置概念!")
                            }
                            else if(task_type==3 && data.stat==4){
                                alert("创建失败，请添加领域词库！")
                            }
                            else if(task_type==3 && data.stat==5){
                                alert("创建成功!");
                            }
                            close_window();
                            $("#task_table tbody").remove();
                            getTask();
                            return;
                        }else{
                            alert("提交失败");
                            close_window();
                            return;
                        }
                    },
                    error: function (data){
                        alert("提交失败");
                        close_window();
                        return;
                    }

                });
        }


        window.onclick = function close(e) {
            if (e.target == $("#float_window")) {
                $("#float_window").style.display = "none";
            }
            if(e.target==$("#float_window_baike")){
                $("#float_window_baike").style.display="none";
            }
        };
        $(function () {
            field_name=GetQueryString("field");
            getTask();
            $.get("task_corpus?field="+GetQueryString("field"),function (data,status) {
                $("#select_corpus").append($('<tbody></tbody>'));
                var i;
                for(i in data["corpus"]){
                    $("#select_corpus tbody").append($(
                        '<tr>\n' +
                        '                            <td scope="col" class="select"><input type="checkbox" name="box" value="'+i+'"/></td>\n'+
                        '                            <td scope="col" class="filename">'+data["corpus"][i]["fname"]+'</td>\n'+
                        '                            <td scope="col" class="size">'+data["corpus"][i]["fsize"]+'</td>\n'+
                        '                            <td scope="col" class="time">'+data["corpus"][i]["time"]+'</td>\n'+
                        '</tr>\n'
                    ));
                }
            });
            $("#sub_btnx").click(function () {
                $("#float_window_baike").css('display','none');
                var types_selected = '';
                var obj=document.getElementsByName("box_type");
                var j;
                for (j in obj){
                    if(obj[j].checked){
                        types_selected += $(obj[j]).parent().next().text() + ",";
                    }
                }
                if(types_selected==''){
                    alert('创建失败，未选择任何类别！');
                    return;
                }
                $.ajax({
                    url: "task.html?field=" + field_name,
                    data: JSON.stringify({"choose_type":types_selected,"task":2}),//发送的数据 语料名称 任务类型
                    type: "post",
                    contentType: "application/json;charset=UTF-8",
                    success: function (data1) {
                        alert('创建成功!');
                        getTask();
                        return;
                    }
                });
                return;
            });

        });
    </script>
</head>
<body>
<div class="uk-card uk-card-default uk-card-large uk-card-body" style="padding: 0">
    <div class="top">
        <div style="display: inline"><img id="icon" src="/image/icon.png"></div>
        <div  id="title" style="display: inline">
            <h1 style="color:white">领域词抽取系统</h1>
        </div>
        <div class="user" style="display: inline">
            <div id="log_reg" th:if="${#lists.isEmpty(iscookies)}">
                <button id="login" type="button" class="btn btn-success">登录</button>
                <p class="separator">|</p>
                <button id="register" type="button" class="btn btn-info">注册</button>
            </div>
            <div id="greet_out" th:unless="${#lists.isEmpty(iscookies)}">
                <button id="greet" type="button" class="btn btn-info" th:text="'你好，'+${user_name}" disabled></button>
                <p class="separator">|</p>
                <button id="logout" type="button" class="btn btn-danger" onclick="logout()">登出 </button>
            </div>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0">
        <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">任务管理</li>
    </ol>
</nav>

<section id="main">
    <div class="alert alert-secondary" role="alert" style="text-align: center;margin: 0 auto"><h1 class="sub_title">任务管理</h1></div>
    <div class="notice">
        <p class="tips">本系统支持 <span class="badge badge-secondary">领域词抽取</span> <span class="badge badge-secondary">基于百科的抽取任务</span> <span class="badge badge-secondary">实体扩充任务</span></p>
        <p class="tips">创建 <span class="badge badge-secondary">实体扩充</span> 任务前需先完成前置任务 <span class="badge badge-secondary">领域词抽取</span> 或/与 <span class="badge badge-secondary">基于百科的抽取任务</span> 并将结果入库，并在领域信息页面设置概念词</p>
    </div>
    <div id="upload">
        <button class="btn btn-primary" id="task-btn1" onclick="show()" style="display: inline">创建领域词抽取任务</button>
        <button class="btn btn-primary" id="task-btn2" onclick="create_task(this)" style="display: inline">创建基于百科的抽取任务</button>
        <button class="btn btn-primary" id="task-btn3" onclick="create_task(this)" style="display: inline">创建实体扩充任务</button>
    </div>
    <div class="card" style="display: block;text-align: center;margin: 0 auto;margin-top:30px;width:80%;height:300px;overflow: auto">
        <table class="table table-striped" id="task_table">
            <thead>
                <tr>
                    <th scope="col">任务名</th>
                    <th scope="col">选择语料(类别)</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">任务状态</th>
                    <th scope="col">任务结果</th>
                    <th scope="col">完成时间</th>
                </tr>
            </thead>
        </table>
    </div>
    <!--弹窗-->
    <div id="float_window" class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div id="close">
            <button id="close-button" class="close" aria-label="关闭" onclick="close_window()" style="background-color: red"><span>&times;</span></button>
        </div>
        <h3 class="uk-card-title sub_title">选择语料</h3>
        <div>
            <table class="table table-striped" id="select_corpus">
                <thead>
                    <tr>
                        <th scope="col" class="select">选择</th>
                        <th scope="col" class="filename">文件名</th>
                        <th scope="col" class="size">文件大小</th>
                        <th scope="col" class="time">上传时间</th>
                    </tr>
                </thead>
            </table>
            <div style="text-align: center;margin: 0 auto">
                <input id="sub_btn" type="submit" value="确认" class="btn btn-primary" onclick="create_task(this)"/>
            </div>
        </div>
    </div>
    <!--弹窗-->
    <div id="float_window_baike" class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div id="closex">
            <button id="close-buttonx" class="close" aria-label="关闭" onclick="close_windowx()" style="background-color: red"><span>&times;</span></button>
        </div>
        <h3 class="uk-card-title sub_title">选择类别</h3>
        <div>
            <table class="table table-striped" id="select_category">
                <thead>
                <tr>
                    <th scope="col" class="select">选择</th>
                    <th scope="col" class="filename">类别</th>
                    <th scope="col" class="size">出现次数</th>
                </tr>
                </thead>
            </table>
            <div style="text-align: center;margin: 0 auto">
                <input id="sub_btnx" type="submit" value="确认" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</section>
</body>
</html>