<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/uikit.min.css">
    <title>任务管理</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/uikit.js" type="text/javascript"></script>
    <script src="/js/Logout.js" type="text/javascript"></script>
    <script type="text/javascript">
        var field_name;
        var task_type=1;

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)
                return  decodeURI(r[2]);
            return null;
        }

        function getTask() {
            $("#task_table td").each(function(){
                $(this).remove();
            });
            $.get("task?field=" + GetQueryString("field"), function (data, status) {
                var i;
                for(i in data["tasks"]) {
                    if(data["tasks"][i]["task_name"].charAt(0)=='领') {
                        $("#task_table").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["statu"] + '</td>' +
                            '                          <td><a href="result.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                    else if(data["tasks"][i]["task_name"].charAt(0)=='基'){
                        $("#task_table").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["statu"] + '</td>' +
                            '                          <td><a href="result-baike.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                    else{
                        $("#task_table").append($('<tr>' +
                            '                          <td>' + data["tasks"][i]["domain"] + '：' + data["tasks"][i]["task_name"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["files"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["task_time"] + '</td>' +
                            '                          <td>' + data["tasks"][i]["statu"] + '</td>' +
                            '                          <td><a href="result-entity.html?field=' + GetQueryString("field") + '&name=' + data["tasks"][i]["task_name"] + '">' + (data["tasks"][i]["statu"] == '已完成' ? '查看结果' : '') + '</a></td>' +
                            '                          <td>' + data["tasks"][i]["finish_time"] + '</td>' +
                            '                      </tr>'));
                    }
                }
            });
        }


        function show() {
            $("#float_window").css('display','block');
        }

        function close_window() {
            $("#float_window").css('display','none');
        }
        //提交语料选择创建任务
        function create_task(e){
            var obj=document.getElementsByName("box");
            var str='';
            if($(e).attr("id")=='sub_btn') {
                task_type=1;
                var i = 0;
                for (i in obj) {
                    if (obj[i].checked) {
                        str += $(obj[i]).parent().next().text() + ",";          //以逗号分隔不同文件名
                    }
                }
            }
            else if($(e).attr("id")=='task-btn2'){
                task_type=2;
            }
            else{
                task_type=3;
            }
            if(task_type==1 && str==''){
                alert("创建失败，未选择任何语料！");
                return;
            }
            $.ajax(
                {
                    url:"task.html?field="+field_name,//发送的路径
                    data: JSON.stringify({choose:str,task:task_type}),//发送的数据 语料名称 任务类型
                    type:"post",//发送的方式
                    contentType: "application/json;charset=UTF-8",
                    success: function(data) {
                        if(data.msg="success"){
                            console.log(data);
                            if(data.stat==0){
                                $(location).attr("href","login.html");
                            }
                            else if(task_type==2 && data.stat==1){
                                alert("创建失败，请设置种子词或进行领域词抽取！");
                            }
                            else if(task_type==2 && data.stat==2){
                                alert("创建成功!");
                            }
                            else if(task_type==3 && data.stat==3){
                                alert("没有设置概念!")
                            }
                            else if(task_type==3 && data.stat==4){
                                alert("创建失败，请添加领域词库！")
                            }
                            else if(task_type==3 && data.stat==5){
                                alert("创建成功!");
                            }
                            close_window();
                            getTask();
                        }else{
                            alert("提交失败");
                            close_window();
                        }
                    },
                    error: function (data){
                        alert("提交失败");
                        close_window();
                    }

                });
        }


        window.onclick = function close(e) {
            if (e.target == $("#float_window")) {
                $("#float_window").style.display = "none";
            }
        };
        $(function () {
            field_name=GetQueryString("field");
            getTask();
            $.get("task_corpus?field="+GetQueryString("field"),function (data,status) {
                var i;
                for(i in data["corpus"]){
                    $("#select_corpus").append($('<tr id="tr_'+i+'">' +
                        '                            <td class="select"><input type="checkbox" name="box" value="'+i+'"/></td>'+
                        '                            <td class="filename">'+data["corpus"][i]["fname"]+'</td>'+
                        '                            <td class="size">'+data["corpus"][i]["fsize"]+'</td>'+
                        '                            <td class="time">'+data["corpus"][i]["time"]+'</td>'+
                        '</tr>'));
                }
            })
        });
    </script>
</head>
<body>
<div class="uk-card uk-card-default uk-card-large uk-card-body" style="padding: 0">
    <div class="top">
        <div class="title">
            <img id="icon" src="image/icon.png">
            <h1 id=title>领域词抽取系统</h1>
        </div>
        <div class="user">
            <div id="log_reg" th:if="${#lists.isEmpty(iscookies)}">
                <button id="login" class="user_info">登录</button>
                <p class="separator">|</p>
                <button id="register" class="user_info">注册</button>
            </div>
            <div id="greet_out" th:unless="${#lists.isEmpty(iscookies)}">
                <p id="greet" class="user_info" th:text="'你好，'+${user_name}"></p>
                <p class="separator">|</p>
                <button id="logout" class="user_info" onclick="logout()">登出</button>
            </div>
        </div>
    </div>
</div>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="index.html">首页</a></li>
            <li class="uk-active"><a>任务管理</a></li>
        </ul>

    </div>
</nav>
<section id="main">
    <div><h1 class="sub_title">任务管理</h1></div>
    <div class="notice">
        <p class="tips">本系统支持【领域词抽取】【基于百科的抽取任务】【实体扩充】任务</p>
        <p class="tips">创建【实体扩充】任务前需先完成前置任务【领域词抽取】或/与【基于百科的抽取任务】并将结果入库，并在领域信息页面设置概念词</p>
    </div>
    <div id="upload">
        <button class="uk-button-primary" id="task-btn1" onclick="show()">创建领域词抽取任务</button>
        <button class="uk-button-primary" id="task-btn2" onclick="create_task(this)">创建基于百科的抽取任务</button>
        <button class="uk-button-primary" id="task-btn3" onclick="create_task(this)">创建实体扩充任务</button>
    </div>
    <div>
        <table class="uk-table-striped" border="1" id="task_table">
            <tr>
                <th>任务名</th>
                <th>选择语料</th>
                <th>创建时间</th>
                <th>任务状态</th>
                <th>任务结果</th>
                <th>完成时间</th>
            </tr>
        </table>
    </div>
    <!--弹窗-->
    <div id="float_window" class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div id="close">
            <button id="close-button" class="uk-button-small" onclick="close_window()">×</button>
        </div>
        <h3 class="uk-card-title sub_title">选择语料</h3>
        <div>
            <table class="uk-table-striped" id="select_corpus">
                <tr>
                    <th class="select">选择</th>
                    <th class="filename">文件名</th>
                    <th class="size">文件大小</th>
                    <th class="time">上传时间</th>
                </tr>
            </table>
            <input id="sub_btn" type="submit" value="确认" class="uk-button-primary" onclick="create_task(this)"/>
        </div>
    </div>
</section>
</body>
</html>